@import url("https://fonts.googleapis.com/css2?family=Sen:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

body {
  background: url(../images/ed.mp4) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-attachment: fixed;
}


.name {
  color: white;
  margin-left: 22vmax;
  font-size: 3vmax;
  margin-top: 50vmin;
  position: absolute;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.0s steps(40, end),
    blink-caret .75s step-end infinite;
}

.jbutton{
	color: black;
	font-size: 2vmax;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 35% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.animated-p{
  size: 10%;
  font-size: 1.2vmax;
  width: 10%;
}